* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: 2px auto;
}

.background {
  width: 200px;
  height: 200px;
  padding: 5px;
  border: thick dotted rgba(190, 10, 190, 0.322);
  margin: 10px auto;
}

.bg-img {
  background-image: url(../../../assets/img/otoño.jpeg);
}

.bg-size {
  background-image: url(../../../assets/img/otoño.jpeg);
  /* background-size: contain; */
  background-size: cover;
}

.bg-position {
  background-image: url(../../../assets/img/otoño.jpeg);
  background-size: 80px;
  background-repeat: no-repeat;
  /* background-position: 10px 50px;
  background-position: 50% 30%; */
  background-position: bottom right;
}

.bg-clip {
  background-color: peru;
  background-clip: content-box;
}

.bg-origin {
  background-image: url(../../../assets/img/otoño.jpeg);
  background-color: peru;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: padding-box;
}

.bg-attachment {
  width: 80dvw;
  height: 80dvh;
  background-image: url(../../../assets/img/otoño.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.bg-multiple {
  width: 50dvw;
  height: 40dvh;
  background-image: url(../../../assets/img/otoño.jpeg);
  background-size: 200px 100px, cover;
  background-repeat: no-repeat;
  background-position: center, center;
  background-clip: padding-box;
}

.backdrop {
  width: 100%;
  height: 30dvh;
  margin: 10px auto;
  background-image: url(../../../assets/img/otoño.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;

}

.texto {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto h4 {
  color: gainsboro;
  background-color: rgba(79, 16, 92, 0.5);
  font-size: 3rem;
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  backdrop-filter: blur(.7rem);
  /*Los mismos filtros que se aplican a las imágenes.*/
}