:root {
  --bg-color: rgb(39, 68, 92);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}


body {
  background-color: #666;
  color: #333;
}

header {
  background-color: #bbb;
  height: 15dvh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

nav {
  background-color: #ccc;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.item-list {
  width: 10%;
  background-color: #666;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  transition: background-color .2s linear;
}

.item-list a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  width: 100%;
}

.item-list:hover {
  background-color: #bbb;
  box-shadow: 2px 2px 10px 3px #666;
}