*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95dvw;
  min-height: 80dvh;
  margin: 20px auto;
  padding-top: 20px;
  background-color: #ddd;
}

table {
  margin: 10px auto;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 5px 10px;
  color: #bbb;
}

caption {
  color: #333;
}

th {
  border: 2px solid #bbb;
  border-collapse: collapse;
  background-color: rgb(56, 55, 71);
  padding: 5px 10px;
  position: sticky;
  top: 3px;
}

td {
  border: 2.2px solid rgb(34, 41, 53);
  min-width: 120px;
  height: 40px;
  padding: 5px 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #bbb;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: rgb(101, 125, 134);
}

tbody tr:hover {
  background-color: #c5d6dd;
  color: #333;
}