*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.container {
  width: 10dvh;
  height: 10dvh;
  margin: 50px auto;
  animation: ring 3s infinite 1s;
}

.cant {
  --size: 17px;
  background-color: darkred;
  color: #ddd;
  font-weight: bold;
  width: var(--size);
  height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
  font-size: .5rem;
  position: relative;
  top: 15px;
  left: 17px;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  1% {
    transform: rotate(30deg);
  }

  3% {
    transform: rotate(-30deg);
  }

  5% {
    transform: rotate(28deg);
  }

  7% {
    transform: rotate(-28deg);
  }

  9% {
    transform: rotate(26deg);
  }

  11% {
    transform: rotate(-26deg);
  }

  13% {
    transform: rotate(24deg);
  }

  15% {
    transform: rotate(-24deg);
  }

  17% {
    transform: rotate(-30deg);
  }

  19% {
    transform: rotate(-30deg);
  }

  21% {
    transform: rotate(-28deg);
  }

  23% {
    transform: rotate(28deg);
  }

  25% {
    transform: rotate(26deg);
  }

  27% {
    transform: rotate(-26deg);
  }

  29% {
    transform: rotate(24deg);
  }

  31% {
    transform: rotate(-24deg);
  }

  33% {
    transform: rotate(22deg);
  }

  35% {
    transform: rotate(-22deg);
  }

  37% {
    transform: rotate(-20deg);
  }

  39% {
    transform: rotate(20deg);
  }

  41% {
    transform: rotate(-18deg);
  }

  43% {
    transform: rotate(18deg);
  }

  45% {
    transform: rotate(-16deg);
  }

  47% {
    transform: rotate(16deg);
  }

  49% {
    transform: rotate(-14deg);
  }

  51% {
    transform: rotate(14deg);
  }

  53% {
    transform: rotate(-10deg);
  }

  55% {
    transform: rotate(10deg);
  }

  57% {
    transform: rotate(8deg);
  }

  59% {
    transform: rotate(-8deg);
  }

  61% {
    transform: rotate(4deg);
  }

  63% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}