<!DOCTYPE html>
<html lang="es>
<head>
  <meta charset=" UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="notif.css">
<title>Notifications</title>
</head>

<body>
  <div class="container">
    <div class="cant">10</div>
    <div class="icono">
      <span class="material-symbols-outlined">
        notifications </span>
    </div>
  </div>

</body>

</html>