<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="chat.css" />
  <title>Pruebas</title>
</head>

<body>

  <main>

    <section class="sent">
      <div class="msj">
        <div class="text">Hola, soy un mensaje</div>
        <div class="time">3 min ago</div>
      </div>
      <div class="msj">
        <div class="text">Hola, soy un mensaje que ocupa mucho más espacio</div>
        <div class="time">3 min ago</div>
      </div>
      <div class="msj">
        <div class="text">Soy chiqui</div>
        <div class="time">3 min ago</div>
      </div>
    </section>

    <section class="received">
      <div class="msj">
        <div class="text">Hola, soy un mensaje</div>
        <div class="time">3 min ago</div>
      </div>
      <div class="msj">
        <div class="text">Hola, soy un mensaje que ocupa mucho más espacio</div>
        <div class="time">3 min ago</div>
      </div>
      <div class="msj">
        <div class="text">Soy chiqui</div>
        <div class="time">3 min ago</div>
      </div>

    </section>

    <section class="sent">
      <div class="msj">
        <div class="text">Hola</div>
        <div class="time">3 min ago</div>
      </div>
      <div class="msj">
        <div class="text">Ya quiero terminar este proyecto</div>
        <div class="time">3 min ago</div>
      </div>

    </section>

    <section class="received">
      <div class="msj">
        <div class="text">Aguafiestas</div>
        <div class="time">3 min ago</div>
      </div>

    </section>

  </main>

</body>

</html>