*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 120dvw;
  height: 50dvh;
  padding: 20px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  max-width: 150px;
  height: 250px;
  background-color: rgb(124, 124, 21);
  border-radius: 10px;
  padding: 15px;
  color: rgb(28, 36, 28);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  transition:
    transform .5s ease-in-out, margin-right .5s ease-in-out;
  box-shadow: -3px 0 10px rgba(0, 0, 0, .4), -4px 0 10px rgba(0, 0, 0, .3), -5px 0 10px rgba(0, 0, 0, .2)
}

.card:not(.first) {
  margin-left: -40px;
}

.card:hover {
  margin-right: 30px;
  transform: rotate(5deg) translateY(-20px);
}

.cardHeader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 1.3rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardFooter img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid rgb(30, 59, 6);
  border-radius: 50%;
  box-shadow: -2px 0 6px rgba(255, 255, 255, 0.6)
}

.cardFooter a {
  text-decoration: none;
  color: antiquewhite;
  text-shadow: -3px 2px 3px rgba(0, 0, 0, 0.7);
}