<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cardAnimada.css">
  <title>Cards</title>
</head>

<body>

  <div class="container">

    <div class="card">

      <div class="cardHeader">
        <section class="date">Mayo 26 del 2024</section>
        <section class="title">Lorem ipsum dolor sit amet.</section>
      </div>
      <div class="cardFooter">
        <section class="author">
          <a href="#">Marcos Pinto</a>
          <img src="" alt="user">
        </section>
      </div>

    </div>

  </div>

</body>

</html>