*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.contCheck {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: #ddd;
  position: relative;
}

.check {
  margin-left: 22px;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
}

.outerCheck {
  width: 22px;
  height: 22px;
  border: 1.3px solid #888;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  left: 18px;
}

.cont-check {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background-color: darkgreen;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}

.checkIcon {
  color: white;
}

input:checked~.outerCheck .cont-check {
  transform: scale(1);
  transition: all .3s ease;
}