<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="check.css">
  <title>Inputs checkbox y radio</title>
</head>

<body>

  <div class="contCheck">

    <label class="check"> CheckBox
      <input type="checkbox">
      <div class="outerCheck">
        <span class="cont-check">
          <span class="material-symbols-outlined checkIcon">check</span>
        </span>
      </div>
    </label>

  </div>

  <div class="contCheck">

    <label class="check"> Radiocheck
      <input type="radio">
      <div class="outerRadio">
        <div class="radioIcon"></div>
      </div>
    </label>

  </div>

</body>

</html>