<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="upload.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
  <title>Subir archivos</title>
</head>

<body>
  <main>
    <h2>UPLOAD FILES</h2>

    <p>Upload files for share with your team</p>

    <div class="drag">
      <span class="material-symbols-outlined">
        cloud_upload </span>
      <p>Drag and drop the file</p>
      <p>or</p>
      <button>Browse file</button>
    </div>

    <h3>UPLOADED FILES</h3>

    <div class="files">

      <div class="file">
        <div class="iconDoc">
          <span class="material-symbols-outlined">
            picture_as_pdf </span>
        </div>
        <div class="infoDoc">
          <h5>Documento.pdf</h5>
          <div class="progress">
            <div class="full"></div>
          </div>
        </div>
        <div class="iconClose">
          <button>
            <span class="material-symbols-outlined">
              delete </span>
          </button>
        </div>
      </div>

      <div class="file">
        <div class="iconDoc">
          <span class="material-symbols-outlined">
            text_snippet </span>
        </div>
        <div class="infoDoc">
          <h5>Documento.pdf</h5>
          <div class="complete">
            60kb
          </div>
        </div>
        <div class="iconClose">
          <button>
            <span class="material-symbols-outlined">
              delete </span>
          </button>
        </div>
      </div>

    </div>
  </main>

</body>

</html>