<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="upload.css">
  <title>Subir archivos</title>
</head>

<body>
  <main>
    <h2>UPLOAD FILES</h2>

    <p>Upload files for share with your team</p>

    <div class="drag">
      <div class="logo"></div>
      <p>Drag an drop the file</p>
      <span>or</span>
      <button>Browse file</button>
    </div>

    <h3>UPLOADED FILES</h3>

    <div class="files">

      <div class="file">
        <div class="iconDoc"></div>
        <div class="infoDoc">
          <h5>Documento.pdf</h5>
          <div class="progress"></div>
        </div>
        <div class="iconClose"></div>
      </div>

    </div>
  </main>

</body>

</html>