<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="search.css">
  <title>Barra de Búsqueda</title>
</head>

<body>

  <main class="container">

    <input type="text">

    <div class="options">

      <button>
        <span class="material-symbols-outlined">
          search</span>
      </button>

      <button><span class="material-symbols-outlined">
          mic</span>
      </button>

      <button>
        <span class="material-symbols-outlined">
          filter_center_focus</span>
      </button>

    </div>

  </main>


</body>

</html>