<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;600;800&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="priceCard.css">
  <title>Tabla de Precios</title>
</head>

<body>
  <main>

    <section class="card">

      <h2>Nombre del Plan</h2>

      <h4>
        <span class="currency">$</span>
        <span class="price">60</span>
        <span class="frequency">/mensual</span>
      </h4>

      <ul>
        <li>
          <span class="icon-list"><span class="material-symbols-outlined">
              check_circle </span></span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span>
          </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span>
          </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
      </ul>

      <button>Try for free</button>

    </section>

    <section class="card ppal-card">

      <h2>Nombre del Plan</h2>

      <h4>
        <span class="currency">$</span>
        <span class="price">60</span>
        <span class="frequency">/mensual</span>
      </h4>

      <ul>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span>
          </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span>
          </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list"><span class="material-symbols-outlined">
              check_circle </span></span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list"><span class="material-symbols-outlined">
              check_circle </span></span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list"><span class="material-symbols-outlined">
              check_circle </span></span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
      </ul>

      <button class="btn-ppal">Try for free</button>

    </section>

    <section class="card">

      <h2>Nombre del Plan</h2>

      <h4>
        <span class="currency">$</span>
        <span class="price">60</span>
        <span class="frequency">/mensual</span>
      </h4>

      <ul>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span> </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span>
          </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span>
          </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
        <li>
          <span class="icon-list">
            <span class="material-symbols-outlined">
              check_circle </span>
          </span>
          <span class="item">Lorem, ipsum dolor.</span>
        </li>
      </ul>

      <button>Try for free</button>

    </section>
  </main>

</body>

</html>