html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border;
  font-family: Abel;
  font-size: 16px;
  --backgroun-color: rgb(20, 45, 73);
  --color: rgb(196, 191, 191);
  --border-color: rgb(116, 114, 114);
  background-color: var(--backgroun-color);
  color: var(--color);
  scroll-behavior: smooth;
}

table,
th,
tr,
td {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 30dvw;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  text-align: center;
  padding: .30rem;
}

table th,
tfoot {
  background-color: var(--color);
  color: var(--backgroun-color);
}