<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="buttons.css">

  <title>Botones animados</title>
</head>

<body>
  <h1>Botones estilizados y/o animados</h1>
  <main>
    <div class="container">
      <H3>Efecto Uno</H3>
      <div class="botones uno">
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
      </div>
    </div>
    <div class="container">
      <H3>Efecto Dos</H3>
      <div class="botones">
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
      </div>
    </div>
    <div class="container">
      <H3>Efecto Tres</H3>
      <div class="botones">
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
      </div>
    </div>
    <div class="container">
      <H3>Efecto Cuatro</H3>
      <div class="botones">
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
        <button><span></span>BUTTON</button>
      </div>
    </div>
  </main>

</body>

</html>