*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

nav {
  background-color: #222;
  color: #eee;
}

.mobile {
  display: none
}

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icono {
  padding: 7px;
  cursor: pointer;
}

.icono:hover {
  scale: 1.3;
}

.links {
  text-align: center;
}

.collapsed {
  display: none;
}

nav .logo {
  min-width: 100px;
}

nav a {
  text-decoration: none;
  color: #eee;
  display: block;
  padding: 10px 15px;
}

nav a:hover {
  cursor: pointer;
  background-color: rgb(127, 128, 177);
  color: #222;
}

nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.primary,
.secondary {
  display: flex;
}

.fit {
  display: none;
}

@media screen and (max-width:700px) {

  .full {
    display: none;
  }

  .fit {
    display: block;
  }

  .menu-cont {
    position: absolute;
    right: 0;
    width: 200px;
    background-color: #222;
    display: none;
  }

  .fit:hover .menu-cont {
    display: block
  }
}

@media screen and (max-width:450px) {
  nav .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

}