<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="geometricsForms.css">
  <title>Figuras Geométricas</title>
</head>

<body>

  <h1>Figuras Geométricas</h1>
  <main>
    <div class="fig cuadrado"></div>
    <div class="fig circulo"></div>
    <div class="fig triangulo"></div>
    <div class="fig rectangulo"></div>
    <div class="fig rombo"></div>
    <div class="fig paralelogramo"></div>
    <div class="fig ovalo"></div>
    <div class="fig medio-circulo"></div>
    <div class="fig hoja"></div>
  </main>

</body>

</html>