<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="modalResp.css">
  <title>Modal Responsivo</title>
</head>

<body>

</body>
<div class="modal">
  <div class="modalCont">
    <div class="text">
      <div class="title">
        <span class="material-symbols-outlined">
          skull </span>
        <h3>Advertencia</h3>
      </div>
      <p>Deseas guardar los cambios</p>
    </div>
    <div class="options">
      <button class="save">Guardar</button>
      <button class="cancel">Cancelar</button>
    </div>
  </div>
</div>

</html>